* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    max-width: 1536px;
    /* width: 90%; */
}

.container {
    margin: 0rem 2rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.logo > img {
    height: 8rem;
}

.search form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e3e3e3;
    border: none;
    height: 4rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    padding: 0.5rem;
    text-decoration: none;
}

.search input {
    background: transparent;
    border: none;
    height: 100%;
    width: 95%;
}

.search input:focus {
    outline: none;
}

#searchButton {
    outline: none;
    border: none;
    background-color: #e3e3e3;
    cursor: pointer;
}

.search i {
    font-size: 2rem;
}
